.page-product {
  padding-top: 3.2rem;

  .breadcrumb {
    margin-bottom: 4.2rem;

    @include breakpoint(md, max) {
      margin-bottom: 3.2rem;
    }
  }

  .h1 {
    display: block;
    margin-bottom: 4rem;

    @include breakpoint(md, max) {
      margin-bottom: 2.4rem;
    }
  }

  .page-content {
    @include breakpoint(md, min) {
      display: flex;
    }

    .left-side {
      margin-right: 4.4rem;

      @include breakpoint(md, min) {
        width: 48%;
      }

      @include breakpoint(xl, max) {
        margin-right: 2.2rem;
      }

      @include breakpoint(md, max) {
        margin-right: 0;
        margin-bottom: 4rem;
        margin-left: -2rem;
        margin-right: -2rem;
      }

      .h1 {
        @include breakpoint(md, min) {
          display: none;
        }

        @include breakpoint(md, max) {
          padding-left: 2rem;
          padding-right: 2rem;
        }
      }
    }

    .right-side {
      @include breakpoint(md, min) {
        width: 50%;
      }

      .h1 {
        @include breakpoint(md, max) {
          display: none;
        }
      }
    }
  }

  .product-details {
    @include breakpoint(lg, min) {
      display: flex;
      align-items: flex-start;
    }

    .details-left {
      width: 100%;
      margin-right: 2.5rem;

      @include breakpoint(xl, max) {
        margin-right: 1rem;
      }

      @include breakpoint(lg, max) {
        margin-right: 0;
        margin-bottom: 4rem;
      }

      .details-title {
        margin-bottom: 0.8rem;
        display: flex;
        align-items: center;
        font-weight: 600;
        font-size: 1.4rem;
        color: #292e2f;

        @include breakpoint(md, max) {
          margin-bottom: 1.1rem;
        }

        .tooltip {
          margin-left: 0.85rem;
        }
      }

      .radios-holder {
        display: flex;
        flex-wrap: wrap;
        max-width: 56.6rem;
        margin-bottom: 3.2rem;

        @include breakpoint(md, max) {
          margin-bottom: 1.6rem;
        }

        .input-radio {
          margin-right: 1.2rem;
          margin-bottom: 1.2rem;

          @include breakpoint(md, max) {
            margin-right: 1.6rem;
            margin-bottom: 1.6rem;
          }

          &.custom {
            .radio-label {
              min-width: 10.8rem;
              padding-left: 0.85rem;

              @include breakpoint(md, max) {
                min-width: 10.4rem;
              }
            }
          }
        }
      }

      .input-amount {
        .btn-minus {
          margin-right: 0.8rem;
        }

        .btn-plus {
          margin-left: 0.8rem;
        }
      }

      .input-amount-1 {
        .input {
          width: 6.3rem;
        }
      }

      .input-amount-2 {
        margin-bottom: 3rem;

        .input {
          width: 7.3rem;

          @include breakpoint(sm, max) {
            width: 100%;
          }
        }
      }

      .additional-options {
        @include breakpoint(md, min) {
          display: none;
        }
      }

      .additional-checkboxes {
        margin-right: 2rem;

        @include breakpoint(xl, max) {
          margin-right: 1rem;
        }

        @include breakpoint(lg, max) {
          margin-right: 0;
        }

        @include breakpoint(md, max) {
          display: none;
        }

        .checkbox-block {
          &:not(:last-child) {
            margin-bottom: 0.4rem;
          }
        }
      }
    }

    .details-right {
      padding: 2.2rem 2rem;
      background: #f2f5f5;
      border-radius: 0.8rem;

      @include breakpoint(md, max) {
        margin-left: -2rem;
        margin-right: -2rem;
      }

      .details-sku {
        display: block;
        margin-bottom: 1rem;
        font-size: 1.2rem;
        font-weight: 600;
        color: #042a30;

        span {
          color: #a5b1b2;
        }
      }

      .badge {
        display: inline-flex;
        align-items: center;
        margin-bottom: 1.2rem;
        padding: 1rem 1.1rem;
        font-family: $font-second;
        font-weight: 700;
        font-size: 1rem;
        color: white;
        text-transform: uppercase;
        background: #042a30;
        border-radius: 0.4rem;

        @include breakpoint(sm, max) {
          margin-right: 1.2rem;
          margin-bottom: 0;
        }

        img {
          margin-right: 0.2rem;
        }
      }

      .block-rating {
        display: flex;
        align-items: center;
        padding: 0.8rem 1.2rem;
        background: #ffdfd7;
        border-radius: 0.4rem;

        @include breakpoint(sm, max) {
          flex-grow: 1;
        }

        .stars-holder {
          display: flex;

          img {
            &:not(:last-child) {
              margin-right: 0.2rem;
            }
          }
        }

        .rating-num {
          margin-left: 0.8rem;
          font-family: $font-third;
          font-weight: 700;
          font-size: 1.4rem;
          color: #f1582b;
        }

        .btn-link {
          margin-left: auto;
        }
      }

      .elems-holder {
        @include breakpoint(sm, max) {
          display: flex;
          align-items: center;
        }
      }

      .hr {
        margin: 3.15rem -2rem;
        border: none;
        border-bottom: solid 0.1rem #d6dcdd;

        @include breakpoint(sm, max) {
          margin-top: 3.2rem;
          margin-bottom: 3.2rem;
        }
      }

      .product-price {
        margin-bottom: 2.4rem;
        font-weight: 700;
        font-size: 2.4rem;
        color: #146b87;

        @include breakpoint(md, max) {
          margin-bottom: 0.8rem;
        }

        @include breakpoint(sm, max) {
          font-size: 2rem;
        }

        span {
          font-size: 1rem;

          &:first-child {
            color: #697071;
          }
        }
      }

      .btn-danger {
        width: 100%;
        margin-bottom: 2.4rem;
      }

      .input-amount {
        margin-bottom: 2.4rem;

        .input {
          width: 100%;
          background: white;
        }
      }

      .additional-text {
        margin-bottom: 0;
        font-size: 1.2rem;
        line-height: 1.2;
        color: #697071;

        @include breakpoint(md, max) {
          margin-bottom: 2.4rem;
        }

        @include breakpoint(sm, max) {
          font-size: 1rem;
        }
      }
    }
  }

  .mySwiper2 {
    margin-bottom: 1.6rem;

    @include breakpoint(md, max) {
      margin-bottom: 1.2rem;
    }

    .swiper-slide {
      height: 43.4rem;
      pointer-events: none;
      border: solid 0.1rem #ecf2f3;

      @include breakpoint(md, min) {
        border-radius: 0.8rem;
      }

      @include breakpoint(md, max) {
        height: 24rem;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: inherit;
      }
    }

    .slides-count {
      position: absolute;
      top: 1.6rem;
      left: 1.6rem;
      font-family: $font-third;
      font-weight: 400;
      font-size: 1.2rem;
      color: #042a30;
      z-index: 1;

      @include breakpoint(md, max) {
        display: none;
      }
    }

    .additional-text {
      position: absolute;
      left: 1.6rem;
      bottom: 1.6rem;
      z-index: 1;
      font-size: 1rem;
      color: #697071;
      margin-bottom: 0;

      @include breakpoint(md, max) {
        max-width: 15.5rem;
      }
    }

    .btn-full-screen {
      position: absolute;
      top: 1.6rem;
      right: 1.6rem;
      z-index: 1;

      @include breakpoint(md, max) {
        display: none;
      }
    }

    .swiper-nav {
      position: absolute;
      right: 1.6rem;
      bottom: 1.6rem;
      z-index: 1;
      display: flex;

      @include breakpoint(md, max) {
        display: none;
      }

      .swiper-button-prev {
        margin-right: 1.2rem;
      }
    }

    .swiper-button-next,
    .swiper-button-prev {
      position: relative;
      left: unset;
      right: unset;
    }
  }

  .holder-thumbs-slider {
    display: flex;

    .mySwiper {
      display: flex;

      @include breakpoint(md, min) {
        margin-left: 0.8rem;
        margin-right: 0.8rem;
      }

      @include breakpoint(md, max) {
        padding-left: 1.2rem;
        padding-right: 1.2rem;
      }

      .swiper-slide {
        height: 7.2rem;
        border: solid 0.1rem #ecf2f3;
        border-radius: 0.8rem;
        transition: $transition;
        user-select: none;

        @include breakpoint(lg, max) {
          height: 4.8rem;
        }

        &:hover {
          border-color: #f1582b;
        }

        &.swiper-slide-thumb-active {
          border-color: #146b87;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: inherit;
        }
      }
    }

    .swiper-button-next {
      right: 0;
    }

    .swiper-button-prev {
      left: 0;
    }

    .swiper-button-next,
    .swiper-button-prev {
      position: relative;
      margin: 0;
      width: 3.2rem;
      min-width: 3.2rem;
      height: 7.2rem;

      @include breakpoint(md, max) {
        display: none;
      }

      @include breakpoint(lg, max) {
        height: 4.8rem;
      }
    }
  }
}
