// vars
$images: "../images/";
$fonts: "../fonts/";

// fonts
$font-first: "San Francisco Pro";
$font-second: "Montserrat", sans-serif;
$font-third: "Open Sans", sans-serif;

// breakpoints
$breakpoints: (
  sm: 575px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px,
  xxxl: 1820px
);

// color vars
$color-headdings: #042a30;
$color-text: #292e2f;
$color-primary: #146b87;

// base vars
$text-color-base: $color-text;
$body-bg: #ffffff;
$font-family-base: $font-first;
$font-size-base: 1.4rem;
$font-weight-base: 400;
$line-height-base: 1;
$links-color-base: inherit;
$transition: all 0.3s ease;
